:root{
    --primary-color: #013A63;
    --secondary-color: #EDFAFF;
}

.squareContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    padding: 8px;
}

.square{
    width: 36px;
    height: 36px;
    border-radius: 4px;
}

.addSquareButton{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary-color);
    border: 1px dashed var(--primary-color);
    cursor: pointer;
}

.addSquareButton img{
    width: 11px;
    height: 11px;
}

.addedSquare{
    background: var(--primary-color);
}